<template>
  <v-container>
    <v-row no-gutters>
      <v-col cols="12" sm="3" md="3" lg="3">
        <TheMenu style="margin-top: 5px;" />
      </v-col>

      <v-col cols="12" sm="9" md="9" lg="9">
        <TheFrontPage style="margin-top: 5px;" />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import TheMenu from '../components/TheMenu';
import TheFrontPage from '../components/TheFrontPage';

export default {
  components: {
    TheFrontPage,
    TheMenu
  }
};
</script>
