<template>
  <v-container>
    <v-row style="margin-bottom: 5px;
background-color: #fff;">
      <v-col
        cols="12"
        md="6"
        class="blog-item-image"
        :style="{ backgroundImage: 'url(' + image + ')', minHeight: '300px' }"
      ></v-col>
      <v-col cols="12" md="6" :style="'background-color:' + color + ';'">
        <v-row>
          <v-col class="blog-item-title" cols="12">{{ title }}</v-col>
          <v-col class="blog-item-user" cols="3">
            <v-icon size="18" style="color: #5077fb">mdi-account</v-icon>
            by {{ user }}
          </v-col>
          <v-col class="blog-item-time" cols="4">
            <v-icon size="18" style="color: #5077fb">mdi-clock-outline</v-icon>
            {{ time }}
          </v-col>
          <v-col class="blog-item-comment" cols="4">
            <v-icon size="18" style="color: #5077fb">mdi-chat-processing</v-icon>
            {{ comment }} comments
          </v-col>
          <v-col class="blog-item-content" cols="12">{{ content }}</v-col>
          <v-col cols="12">
            <div class="read-more-button">Read More</div>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true
    },
    user: {
      type: String,
      required: true
    },
    time: {
      type: String,
      required: true
    },
    comment: {
      type: Number,
      required: true
    },
    content: {
      type: String,
      required: true
    },
    color: {
      type: String,
      required: true
    },
    image: {
      type: String,
      required: true
    }
  },
  computed: {
    style() {
      return 'background-color: red';
    }
  }
};
</script>

<style lang="scss" scoped>
.front-menu-button {
  cursor: pointer;
}
.read-more-button {
  font-family: 'Poppins';
  cursor: pointer;
  width: 118px;
  border: 1px solid #5077fb;
  display: flex;
  justify-content: center;
  padding: 6px 0;
  font-size: 14px;
}

.read-more-button:hover {
  background-color: #5077fb;
  color: white;
}

.blog-item-title {
  font-family: 'Montserrat';
  font-size: 17px;
  cursor: pointer;
  font-weight: bold;
}
.blog-item-content {
}
.blog-item-user,
.blog-item-time,
.blog-item-comment {
  font-family: 'Poppins';
  font-size: 13px;
}
.blog-item-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 300px;
  cursor: pointer;
}
</style>