<template>
  <v-col cols="12" style="padding: 0;">
    <v-row style="margin: 2px 0;">
      <v-col class="kodra-header" cols="12">
        <v-container>
          <v-row>
            <v-col cols="6">
              <div>{{title}}</div>
            </v-col>

            <v-col cols="6" align="right">
              <v-icon v-if="isMenu" class="front-menu-button">menu</v-icon>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
    </v-row>
  </v-col>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true
    },
    // Number with a default value
    isMenu: {
      type: Boolean,
      default: false
    }
  }
};
</script>

<style lang="scss" scoped>
.front-menu-button {
  cursor: pointer;
}
</style>