<template>
  <v-col cols="12" md="4">
    <v-col cols="12" style="background-color: white; padding-top: 0; padding-bottom: 0;">
      <v-row>
        <v-col cols="12">
          <v-row style="padding: 0 20px;">
            <v-col cols="6" style="margin: 0; padding: 0;">
              <p class="title">{{ title }}</p>
              <p class="desc">{{ desc }}</p>
            </v-col>
            <v-col cols="6" align="right" style="padding: 0;">
              <v-icon class="icon">{{icon}}</v-icon>
            </v-col>
          </v-row>
        </v-col>

        <v-col
          class="image"
          :style="{ backgroundImage: 'url(' + image + ')', minHeight: '300px' }"
          cols="12"
        ></v-col>
      </v-row>
    </v-col>
  </v-col>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true
    },
    desc: {
      type: String,
      required: true
    },
    icon: {
      type: String,
      required: true
    },
    image: {
      type: String,
      required: true
    }
  }
};
</script>

<style lang="scss" scoped>
.title {
  font-size: 'Roboto';
  margin: 0;
  padding: 0;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
}
.desc {
  margin: 0;
  padding: 0;
  font-size: 14px;
  opacity: 0.5;
}

.icon {
  background-color: #5077fb;
  padding: 16px;
  border-radius: 50%;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 300px;
  cursor: pointer;
}
</style>