<template>
  <v-col cols="12" style="padding: 0;">
    <v-row style="margin: 2px 0;">
      <v-col cols="12">
        <v-container>
          <v-row>
            <v-col cols="3">
              <div>Blog Posts</div>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
    </v-row>
    <v-row style="margin: 2px 0;">
      <v-col id="front-menu" cols="12">
        <v-container>
          <v-row>
            <v-col cols="3">
              <div>Blog Posts</div>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
    </v-row>
  </v-col>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
</style>