<template>
  <v-col
    cols="12"
    style="padding: 0; background: rgba(0,0,0,.5); margin-top: 2px; color: white; text-align:center; padding: 30px 0"
  >
    <div style="opacity: 1 !important; ">&copy; 2017 Kodra Theme. All Rights Reserved</div>
  </v-col>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true
    },
    // Number with a default value
    isMenu: {
      type: Boolean,
      default: false
    }
  }
};
</script>

<style lang="scss" scoped>
.front-menu-button {
  cursor: pointer;
}
</style>