<template>
  <v-col cols="12" style="padding: 0;">
    <v-row style="margin: 2px 0;">
      <v-col id="front-menu" cols="12">
        <v-container>
          <v-row>
            <v-col cols="3">
              <div>Our Work</div>
            </v-col>

            <v-col cols="9" align="right">
              <v-icon class="front-menu-button">menu</v-icon>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
    </v-row>
  </v-col>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
#front-menu {
  font-family: 'Montserrat', sans-serif;
  background-color: #ffffff;
}
.front-menu-button {
  cursor: pointer;
}
</style>