<template>
  <v-container>
    <v-row>
      <TheSlider />

      <Headers title="Our Works" isMenu="true" />

      <v-row dense>
        <WorkItem
          v-for="item in workItems"
          :key="item.id"
          :title="item.title"
          :desc="item.body"
          :icon="item.icon"
          :image="item.id"
        />
      </v-row>

      <!-- <TheOurWorks /> -->
      <Headers title="Blog Posts" />

      <v-col cols="12" style="padding: 0; overflow: hidden;">
        <v-row style="margin: 2px 0;">
          <v-col class cols="12" style="padding: 0; margin: 0;">
            <v-row>
              <BlogPostItem
                v-for="(item, i) in blogPosts"
                :key="i"
                :title="item.title"
                :content="item.content"
                :user="item.user"
                :time="item.time"
                :comment="item.comment"
                :color="item.color"
                :image="item.image"
              />
            </v-row>
          </v-col>
        </v-row>
      </v-col>

      <Headers title="What we Offer" />

      <v-row dense>
        <OfferItem
          v-for="(item, i) in offerItems"
          :key="i"
          :title="item.title"
          :desc="item.desc"
          :icon="item.icon"
          :image="item.image"
        />
      </v-row>

      <Headers title="Our Team" />

      <TheFooter />
    </v-row>
  </v-container>
</template>

<script>
import TheSlider from '../components/TheSlider';
import TheFrontMenu from '../components/TheFrontMenu';
import TheOurWorks from '../components/TheOurWorks';
import TheBlogPosts from '../components/TheBlogPosts';
import Headers from '../components/Headers';
import TheFooter from '../components/TheFooter';
import BlogPostItem from '../components/BlogPostItem';
import OfferItem from '../components/OfferItem';
import WorkItem from '../components/WorkItem';

import axios from 'axios';

export default {
  async mounted() {
    try {
      let response = await axios.get('https://jsonplaceholder.typicode.com/posts?_limit=10');
      this.workItems = response.data;
    } catch (error) {
      alert(error);
    }
  },
  data() {
    return {
      workItems: null,
      offerItems: [
        {
          title: 'title 1',
          desc: 'desc 1',
          icon: 'menu',
          image: 'https://placeimg.com/460/340/any?q'
        },
        {
          title: 'title 2',
          desc: 'desc 2',
          icon: 'menu',
          image: 'https://placeimg.com/460/340/any?w'
        },
        {
          title: 'title 3',
          desc: 'desc 3',
          icon: 'menu',
          image: 'https://placeimg.com/460/340/any?r'
        }
      ],
      blogPosts: [
        {
          title: 'New Shopping Cart Features for coming for Authors and Affiliates',
          user: 'admin',
          time: '1 minutes ago',
          comment: 6,
          content:
            'We’ve released a few new features for the shopping cart on Envato Market first up is Add All Items to Cart on Collections. You can now create collections of items and buyers will be able to add them to their cart with a single ',
          color: 'white',
          image: 'https://placeimg.com/460/340/any?a'
        },
        {
          title: 'All Authors: Important Information on how to receive US tax summaries.',
          user: 'admin',
          time: '3 minutes ago',
          comment: 8,
          content:
            "Tt’s coming up on it's been a year since Envato's launched our US subsidiary company and the W form submission process was introduced to the Envato ecosystem. Shortly, Envato is going to be mailing two types of forms to our authors",
          color: 'white',
          image: 'https://placeimg.com/460/340/any?b'
        },
        {
          title: 'Ever struggled to explain Envato to a friend?',
          user: 'admin',
          time: '10 minutes ago',
          comment: 3,
          content:
            "I know I have! Which is one big reason I'm super excited about our brand spanking new Envato.com It also does a much better job of introducing our tools and services, and connecting creatives with the best people and resources for getting their projects done. Get the full scoop on the blog47 and then head over to Envato.com39 to check it out! :grinning::rocket:",
          color: 'white',
          image: 'https://placeimg.com/460/340/any?c'
        },
        {
          title: 'Latest Community Events & Opportunities to Participate In & Win!',
          user: 'admin',
          time: '12 minutes ago',
          comment: 2,
          content:
            'We want you to create a video tutorial to help customers better understand how to use an item or complete a task using content from Envato Market. The tutorial must be focused on a specific item (e.g. how to use a specific Photoshop action ',
          color: '5077fb',
          image: 'https://placeimg.com/460/340/any?d'
        },
        {
          title: 'An Update from the Market Quality Team average review times',
          user: 'admin',
          time: '18 minutes ago',
          comment: 9,
          content:
            'It’s a great time to provide a fresh view of the size and structure of the Quality team. We currently consist of over 60 team members with a leadership group located at Melbourne HQ, [domain knowledge] Specialists, Senior Reviewers',
          color: 'white',
          image: 'https://placeimg.com/460/340/any?e'
        }
      ]
    };
  },
  components: {
    TheSlider,
    TheFrontMenu,
    Headers,
    WorkItem,
    OfferItem,
    BlogPostItem,
    TheFooter,

    TheOurWorks,
    TheBlogPosts
  }
};
</script>

<style lang="scss" scoped>
</style>