<template>
  <v-container id="menu" class style="background-color: #5077fb; ">
    <v-row>
      <v-col
        cols="12"
        align="center"
        style="border-bottom: 1px solid #6285fb; padding-bottom: 20px;"
      >
        <img src="/portfolio/kodra-vue/img/mountain.png" height="80px;" />
        <div style="font-size: 36px;">{{ app.name }}</div>

        <p>
          {{app.desc1}}
          <br />
          {{app.desc2}}
        </p>
      </v-col>

      <v-col
        cols="12"
        style="border-bottom: 1px solid #6285fb; padding-bottom: 35px; margin-bottom: 20px;"
      >
        <div class="menu-margin">
          <template v-for="(item, index) in menuItems">
            <div :key="index" class="menu-item">
              <div
                @click="menuItem"
                class="menu-item-title"
                :class="{ 'menu-title-active': item.active}"
              >{{ item.title }}</div>
              <div :class="{ 'menu-active': item.active }"></div>
            </div>
          </template>
        </div>
      </v-col>

      <v-col cols="12" align="center">
        <div class="menu-margin">
          <!-- <v-text-field
            class="search-bar"
            outlined
            name="search"
            label="Search"
            id="search"
            append-icon="search"
          ></v-text-field>-->

          <input
            type="text"
            name="search"
            id="search"
            value="Search"
            style="border: 2px solid rgb(98, 133, 251);

padding: 6px 14px;

font-size: 14px;

border-radius: 5px;

width: 98%;"
          />
        </div>
      </v-col>

      <v-col cols="12">
        Shots from Dribble
        <v-row style="padding-top: 20px;">
          <v-col
            align="center"
            cols="3"
            sm="6"
            md="4"
            lg="3"
            v-for="(item, index) in dribbbleButtons"
            :key="index"
          >
            <div class="dribbble-button" :style="{backgroundImage: 'url('+item.img+')'}"></div>
          </v-col>
        </v-row>
      </v-col>

      <v-col cols="12">
        <div class="menu-margin">Social Network</div>
        <div style="display: flex; margin: 15px 0 10px 25px;">
          <div class="social-button" v-for="(item, index) in socialNetworkButtons" :key="index">
            <div
              style="display: flex;
  align-items: center;
  justify-content: center; width: 42px; height: 42px; border: 2px solid rgb(98, 133, 251); margin-right: 14px; border-radius: 5px; "
            >
              <v-icon class="social-button-icon" style="color: white;">{{item.icon}}</v-icon>
            </div>
          </div>
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      app: {
        name: 'KODRA',
        desc1: 'Responsive Multi-concept',
        desc2: 'WordPress Theme'
      },
      menuItems: [
        { title: 'Home', link: '#', active: true },
        { title: 'About', link: '#', active: false },
        { title: 'Portfolio', link: '#', active: false },
        { title: 'Services', link: '#', active: false },
        { title: 'Blog', link: '#', active: false },
        { title: 'Contact', link: '#', active: false }
      ],
      dribbbleButtons: [
        { name: 'Google Plus', img: 'https://placeimg.com/60/60/any?a' },
        { name: 'Google Plus', img: 'https://placeimg.com/60/60/any?b' },
        { name: 'Google Plus', img: 'https://placeimg.com/60/60/any?c' },
        { name: 'Google Plus', img: 'https://placeimg.com/60/60/any?d' },
        { name: 'Google Plus', img: 'https://placeimg.com/60/60/any?e' },
        { name: 'Google Plus', img: 'https://placeimg.com/60/60/any?f' },
        { name: 'Google Plus', img: 'https://placeimg.com/60/60/any?g' },
        { name: 'Google Plus', img: 'https://placeimg.com/60/60/any?h' }
      ],
      socialNetworkButtons: [
        { name: 'Google Plus', title: 'google', link: '', icon: 'mdi-google-plus' },
        { name: 'Twitter', title: 'twitter', link: '', icon: 'mdi-twitter' },
        { name: 'Pinterest', title: 'pinterest', link: '', icon: 'mdi-pinterest' },
        { name: 'Facebook', title: 'facebook', link: '', icon: 'mdi-facebook' }
      ]
    };
  }
};
</script>

<style lang="scss" scoped>
@import url('https://fonts.googleapis.com/css?family=Material+Icons|Montserrat|Poppins&display=swap');

#menu {
  font-family: 'Poppins', sans-serif;
  color: white;
}
.menu-title {
  font-size: 16px;
}

.menu-item {
  display: flex;
}
.menu-item-title {
  font-size: 18px;

  cursor: pointer;
  margin-top: 10px;
}

.menu-margin {
  width: 86%;
  margin: 0 auto;
}

.menu-active {
  width: 20px;
  height: 2px;
  background-color: #ffe000;
  margin: 23px 0 11px 16px;
}

.menu-title-active {
  color: #ffe000 !important;
}

.menu-item:hover {
  color: #ffe000 !important;
}

.dribbble-button {
  cursor: pointer;
}

@-webkit-keyframes removeBorder {
  from {
    border-width: 6px;
  }
  to {
    border-width: 0;
  }
}

.dribbble-button {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  border: 6px solid #353a3e;
  border-radius: 50%;
  height: 50px;
}

.dribbble-button:hover > div {
  // border-color: red;
  animation: removeBorder 1s;
}

.dribbble-button-border {
  border-radius: 50%;
  overflow: hidden;

  border: 6px solid #353a3e;
  max-width: 80px;
}

.social-button {
  cursor: pointer;
}
.social-button:hover div,
.social-button:hover .social-button-icon {
  color: black !important;
  background-color: #6285fb !important;
}
.v-input__slot::after {
  border-color: #7392fc !important;
}
.v-text-field > .v-input__control > .v-input__slot::before {
  border-color: #7392fc !important;
}
.my-input.v-input .v-input__slot {
  border-radius: 100px;
}
// font-family: 'Montserrat', sans-serif;

// font-family: 'Poppins', sans-serif;

// ffe000 menu highlight
</style>