<template>
  <v-col cols="12" style="padding: 0;">
    <div
      style=" flex: 1 1; min-height: 500px; position: relative; background-color: white; background-image: url('/portfolio/kodra-vue/img/slider.jpg') !important;
 background-repeat: no-repeat; background-position: center; background-size: 100%;"
    >
      <div style="position: absolute; left: 40px; bottom: 40px; ">
        <p class="slider-title">
          We do it with
          <span>&lt;style&gt;</span>
        </p>
        <p
          class="slider-desc"
        >This is a Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin.</p>

        <div style="
      width: 130px;">
          <div
            style="line-height: 60px; float:left;border: 1px solid #cbd8f7;height: 60px; width: 60px; text-align: center; font-size: 22px; font-family: 'Myriad Pro', sans-serif;"
          >{{sliderPage}}</div>
          <div
            @click="nextSliderPage"
            style="cursor:pointer; float:left; margin: 0 0 6px 5px; border: 1px solid #bbc0c5;height: 27px; width: 60px; text-align:center; line-height: 21px;"
          >
            <v-icon style="margin-top: -5px; " size="35">arrow_right_alt</v-icon>
          </div>
          <div
            @click="prevSliderPage"
            style="cursor:pointer; float:left;   margin-left: 5px; border: 1px solid #bbc0c5;height: 27px; width: 60px;text-align:center; line-height: 21px;"
          >
            <v-icon
              size="35"
              style="margin-top: -5px; -webkit-transform: rotate(180deg);
transform: rotate(180deg);"
            >arrow_right_alt</v-icon>
          </div>
        </div>
      </div>
    </div>
  </v-col>
</template>

<script>
export default {
  data() {
    return {
      sliderPage: 1
    };
  },
  methods: {
    nextSliderPage() {
      this.sliderPage++;
    },
    prevSliderPage() {
      if (this.sliderPage > 1) {
        this.sliderPage--;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.slider-title {
  font-family: 'Poppins', sans-serif;
  color: #3c586d;
  font-size: 32px;
  margin: 0;
}

.slider-title span {
  font-family: 'Montserrat', sans-serif;
  background-color: #5077fb;
  color: white;
  font-size: 15px;
  text-align: center;
  line-height: 26px;
  height: 28px;
  width: 75px;
  display: inline-block;
  position: absolute;
  margin-left: 10px;
  top: 10px;
}

.slider-desc {
  font-family: 'Poppins', sans-serif;
  color: #92a4b1;
  font-size: 15px;
  max-width: 470px;
  margin-bottom: 30px;
}

// background-image: url('/img/bg.jpg') !important;
//   background-repeat: repeat-y;
//   padding-top: 95px;
</style>