<template>
  <v-col cols="12" md="6">
    <v-col cols="12" style="background-color: white; padding-top: 0; padding-bottom: 0;">
      <v-row>
        <v-col
          class="image"
          :style="{ backgroundImage: 'url(https://placeimg.com/460/340/any?a' + image + ')' }"
          cols="12"
        ></v-col>
      </v-row>
    </v-col>
  </v-col>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      required: true
    },
    desc: {
      type: String,
      required: true
    },
    icon: {
      type: String,
      required: true
    },
    image: {
      type: String,
      required: true
    }
  }
};
</script>

<style lang="scss" scoped>
.title {
  font-size: 'Roboto';
  margin: 0;
  padding: 0;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
}
.desc {
  margin: 0;
  padding: 0;
  font-size: 14px;
  opacity: 0.5;
}

.icon {
  background-color: #5077fb;
  padding: 16px;
  border-radius: 50%;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 400px;
  cursor: pointer;
}
</style>