<template>
  <v-app>
    <v-content>
      <router-view></router-view>
    </v-content>
  </v-app>
</template>

<script>
import HelloWorld from './components/HelloWorld';

export default {
  name: 'App',
  components: {
    HelloWorld
  },
  data: () => ({
    //
  })
};
</script>

<style lang="scss">
@import url('https://fonts.googleapis.com/css?family=Material+Icons|Montserrat|Poppins&display=swap');

#app {
  background-image: url('/portfolio/kodra-vue/img/bg.jpg') !important;
  background-repeat: repeat-y;
  background-size: 100%;
  padding-top: 95px;
  font-family: 'Montserrat', sans-serif;
}
.container {
  padding: 0 20px;
}

.kodra-header {
  font-family: 'Montserrat', sans-serif;
  background-color: #ffffff;
}
</style>